body {
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    width: 320px;
    height: 520px;
    background-color: #000;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.display {
    background-color: #333;
    color: #fff;
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.button {
    background-color: #505050;
    border: 1px solid #333;
    color: #fff;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button.operator {
    background-color: #ff9500;
}

.button.zero {
    grid-column: span 2;
}

.button:active {
    background-color: #b5b5b5;
}

.button.scientific {
    background-color: #4b4b4b;
}
